{% extends 'base.html' %}

{% block title %}Approve Appointment{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="card-title mb-0">Confirm Appointment Approval</h5>
                </div>
                <div class="card-body">
                    <h5>Are you sure you want to approve this appointment?</h5>
                    
                    <div class="mt-4 mb-4">
                        <table class="table table-bordered">
                            <tr>
                                <th class="bg-light" style="width: 30%;">Machine:</th>
                                <td>{{ appointment.machine.name }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Client:</th>
                                <td>{{ appointment.user.get_full_name }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Date:</th>
                                <td>{{ appointment.appointment_date }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Time Slot:</th>
                                <td>{{ appointment.get_time_slot_display }}</td>
                            </tr>
                            <tr>
                                <th class="bg-light">Rice Quantity:</th>
                                <td>{{ appointment.rice_quantity }} kg</td>
                            </tr>
                        </table>
                    </div>
                    
                    <p class="text-muted mb-4">
                        By approving this appointment, the user will be notified and the time slot will be reserved.
                    </p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'machines:ricemill_appointment_list' %}" class="btn btn-outline-secondary me-2">Cancel</a>
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-check"></i> Approve Appointment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 